<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <meta charset="{{ site.encoding }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
</head>
<body>

    <main class="home-page">
        <h1>Hi, I am Marco, welcome to My Website!</h1>
        <div class="profile-container">
            <div class="wrap">
                <img src="/assets/Marco.jpg" class="myImage">
            </div>
            <div class="info">
                <p>I am a wannabe PhD student in Control System theory, exploring new technologies, and constantly learning.</p>
                <p>Feel free to connect with me on <a href="https://www.linkedin.com/in/marco-d-590a36140/" target="_blank">LinkedIn</a> or follow me on <a href="https://x.com/mvrcodelloro" target="_blank">X (Twitter)</a>.</p>
            </div>
        </div>

        <!-- Divider line -->
        <hr class="divider">
        
        <!-- News Section -->
        <section id="news">
            <h2>Latest News</h2>
            <ul>
                <li>
                    <strong>March 2025:</strong> Currently working on building this website while I'm unemployed.
                </li>
            </ul>
        </section>
    </main>

</body>
</html>
