<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <meta charset="{{ site.encoding }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
</head>
<body>

    <main class="home-page">
        <h1>Hi, I am Marco, welcome to my website!</h1>
        <div class="profile-container">
            <div class="wrap">
                <img src="/assets/Marco.jpg" class="myImage">
            </div>
            <div class="info">
                <p>I am a wannabe PhD student in control system theory & optimization. I enjoy exploring new topics in control and constantly learning.
                   I earned my M.Sc. degree in Mechanical Engineering from Politecnico di Milano, and I have worked with the Control System Technology Laboratory at the 
                   Eindhoven University of Technology. 
                </p>
                <p>Feel free to connect with me on <a href="https://www.linkedin.com/in/marco-d-590a36140/" target="_blank">LinkedIn</a> or follow me on <a href="https://x.com/mvrcodelloro" target="_blank">X (Twitter)</a>.</p>
            </div>
        </div>

        <!-- Divider line -->
        <hr class="divider">
        
        <!-- News Section -->
        <section id="news">
            <h2>Latest News</h2>
            <ul style="text-align: left;">
                <li>
                    <strong>May 2025:</strong> The paper I co-authored with <a href="https://www.tue.nl/en/research/researchers/domagoj-herceg" target="_blank" rel="noopener noreferrer">Domagoj</a> has been accepted to <a href="https://ccta2025.ieeecss.org/">CCTA 2025</a>

                </li>
                <li>
                    <strong>March 2025:</strong> Currently working on building this website while I'm unemployed.
                </li>
            </ul>
        </section>
    </main>

</body>
</html>