---
---

@import index, font, basic, layout, classes

@media (min-width: 40em)
  body > header, body > article, body > footer
    padding: 1.75em calc(40% - 17em)

{% if site.dark %}

body > header
  background: $light
  color: $dark
  border-bottom: 1px solid reduce(14)

body > article
  background: lighten($light, 10%)
  color: $dark

body > footer
  background: $light
  color: $dark
  border-top: 1px solid reduce(14)

{% else %}

body > article
  background: lighten($light, 10%)
  color: $dark

body > header
  background: $light
  color: $dark
  border-bottom: 1px solid reduce(14)

body > footer
  background: $light
  color: $dark
  border-top: 1px solid reduce(14)

{% endif %}

body
  display: flex
  flex-direction: column
  justify-content:flex
  min-height: 100vh
  font-family: 'PT Sans', sans-serif


.home-page
  padding: 1.75em calc(40% - 17em)
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  justify-content: flex-start
  background: lighten($light, 10%)
  color: $dark
  flex-grow: 1

// Target the header specifically
header
  font-family: 'Source Code Pro', monospace 
  h1 { font-family: inherit; font-weight: bold; }

h1
  font-size: 1.5rem
  color: $dark
  margin-bottom: 50px
  font-family: 'Source Code Pro', monospace 
  font-weight: 900 

h2
  font-family: 'Source Code Pro', monospace
  font-weight: 700 

.profile-container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  gap: 10px
  max-width: 900px
  text-align: left

.wrap
  width: 280px
  height: 300px
  overflow: hidden
  border: none
  display: flex
  justify-content: center
  align-items: center

  img
    width: 200%
    height: 200%
    object-fit: cover
    object-position: 20% top
    margin: 0 0 0 0

.info
  max-width: 400px
  text-align: left

a
  color: $link-color

a:hover
  color: $link-color
  text-decoration: underline

.divider
  width: 100%
  margin-top: 50px
  border: none
  border-top: 2px solid #ccc

#news
  text-align: center
  h2
    font-size: 1.5rem
    font-family: 'Source Code Pro', monospace 
    font-weight: bold
  ul
    list-style: none
  li
    font-size: 1rem
    font-family: 'PT Sans', sans-serif
    font-weight: normal


@media screen and (max-width: 600px)
  .profile-container
    flex-direction: column
    align-items: center
    gap: 15px

  .wrap
    width: 250px
    height: 250px

  .myImage
    object-fit: cover
    object-position: top

  h1
    font-size: 1.5rem
    margin-bottom: 10px

  .info
    max-width: 80%
    font-size: 0.9rem

  .divider
    width: 100%
    margin: 20px auto

  #news
    h2
      font-size: 1.25rem
    li
      font-size: 0.9rem
      max-width: 90%