/* Project Section Styling */
.proj-section {
    display: flex; /* Enables horizontal layout */
    align-items: center; /* Aligns image and text */
    background-color: #f8f9fa; /* Light gray for visibility */
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #212228; /* Thicker border */
    max-width: 800px;
}

/* Image inside project box */
.proj-section img {
    width: 220px; 
    height: 180px;
    border-radius: 6px;
    margin-right: 15px; /* Space between image and text */
}

/* Text content on the right */
.proj-content {
    flex: 1;
    text-align: left;
}

.proj-content h2 {
    font-size: 22px;
    margin-bottom: 5px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}

.proj-content p {
    font-size: 15px;
    line-height: 1.5;
}

.proj-content a {
    color: #0e866e;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.proj-content a:hover {
    color: #0e866e;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .proj-section {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center;
        padding: 10px;
    }

    .proj-section img {
        width: 100%; /* Make image take full width */
        height: auto; /* Keep aspect ratio */
        margin-bottom: 10px;
        display: block; /* Make the image a block element */
        margin-left: auto; /* Center the image */
        margin-right: auto; /* Center the image */

    }

    .proj-content {
        width: 100%;
        text-align: center;
    }
}